<!DOCTYPE html>
<html lang="en">
<head>
<title>Forgot Password</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Sign Up">

	<link href="stylesheets/style1.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<div class="main">
		<div class="main-w3l">
			<h1 class="logo-w3">Forgot Password</h1>
			<div class="w3layouts-main">
					<form method="post">
						<input placeholder="Email" name="email" type="email" required="">
						<input type="submit" value="Send" name="send"><br><br> 
					</form>
			</div>
		</div>
	</div>
</body>
</html>
