<link href="https://fontawesome.com/icons/city?style=solid">
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/homepage">
            <img src="/images/logo1.jpg" style="width: 50px;" /><label style="color: black;">Hello Admin!</label>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1" style="background-color: none;">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list" style="margin-top: -15px;">
                <li>
                    <a class="js-arrow" href="/homepage">
                        <i class="fas fa-home" style="font-size: large;"></i>Dashboard</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-clipboard-list" style="font-size: large;"></i>Manage Category</a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="/category/category_add"><i class="fa fa-angle-right"></i>Add Category</a>
                        </li>
                        <li>
                            <a href="/category/category_display_table"><i class="fa fa-angle-right"></i>Display Category</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-check-square" style="font-size: large;"></i>Manage Sub Category</a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="/subcategory/subcategory_add"><i class="fa fa-angle-right"></i>Add Sub Category</a>
                        </li>
                        <li>
                            <a href="/subcategory/subcategory_display_table"><i class="fa fa-angle-right"></i>Display Sub Category</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-file-powerpoint" style="font-size: large;"></i>Manage Product</a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="/product/product_add"><i class="fa fa-angle-right"></i>Add Product</a>
                        </li>
                        <li>
                            <a href="/product/product_display_table"><i class="fa fa-angle-right"></i>Display Product</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-map-marker-alt" style="font-size: large;"></i>Manage City</a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="/city/city_add"><i class="fa fa-angle-right"></i>Add City</a>
                        </li>
                        <li>
                            <a href="/city/city_display_table"><i class="fa fa-angle-right"></i>Display City</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-building" style="font-size: large;"></i>Manage Area</a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="/area/area_add"><i class="fa fa-angle-right"></i>Add Area</a>
                        </li>
                        <li>
                            <a href="/area/area_display_table"><i class="fa fa-angle-right"></i>Display Area</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-comments" style="font-size: large;"></i>Manage FAQ</a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="/faq/faq_add"><i class="fa fa-angle-right"></i>Add FAQ</a>
                        </li>
                        <li>
                            <a href="/faq/faq_display_table"><i class="fa fa-angle-right"></i>Display FAQ</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-comment" style="font-size: large;"></i>Manage Feedback</a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="/feedback/feedback_add"><i class="fa fa-angle-right"></i>Add Feedback</a>
                        </li>
                        <li>
                            <a href="/feedback/feedback_display_table"><i class="fa fa-angle-right"></i>Display Feedback</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="zmdi zmdi-settings" style="font-size: large;"></i>Settings</a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="/change_password"><i class="fa fa-angle-right"></i>Change Password</a>
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-angle-right"></i>Register</a>
                        </li>
                        <!-- <li>
                            <a href="/forgot_password"><i class="fa fa-angle-right"></i>Forget Password</a>
                        </li> -->
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>